services:
  frontend:
    build:
      dockerfile: ./frontend/Dockerfile
      context: .
      args:
        API_URL: https://api.squiddy.me/peerly
    restart: unless-stopped
  backend:
    build: ./backend
    environment:
      - MEMCACHED_HOST=memcached
      - DB_HOST=db
    restart: unless-stopped
  db:
    image: mysql:8
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_USER: peerly
      MYSQL_PASSWORD: peerly
      MYSQL_DATABASE: peerly
    volumes:
      - ./db-data:/var/lib/mysql
      - ./db-setup:/docker-entrypoint-initdb.d
  memcached:
    image: memcached:alpine
    restart: unless-stopped
    command: memcached -m 64
