services:
  peerly-frontend:
    extends:
      file: docker-compose.yml
      service: peerly-frontend
    build:
      context: ./frontend
      args:
        API_URL: https://squiddy.me/peerly-api
  peerly-backend:
    extends:
      file: docker-compose.yml
      service: peerly-backend
    depends_on:
      - peerly-db
      - peerly-memcached
  peerly-db:
    extends:
      file: docker-compose.yml
      service: peerly-db
  peerly-memcached:
    extends:
      file: docker-compose.yml
      service: peerly-memcached

