services:
  peerly-frontend:
    extends:
      file: docker-compose.yml
      service: frontend
  peerly-backend:
    extends:
      file: docker-compose.yml
      service: backend
    environment:
      - MEMCACHED_HOST=peerly-memcached
      - DB_HOST=peerly-db
    depends_on:
      - peerly-db
      - peerly-memcached
  peerly-db:
    extends:
      file: docker-compose.yml
      service: db
    volumes:
      - ./db-setup:/docker-entrypoint-initdb.d
      - /var/lib/peerly/db:/var/lib/mysql
  peerly-memcached:
    extends:
      file: docker-compose.yml
      service: memcached
