@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .font-nunito {
        font-family: "Nunito", sans-serif;
    }

    .text-stroke-1 {
        -webkit-text-stroke: 4px black;
    }

    .nav-button.active {
        @apply bg-sky-100 text-sky-600 font-semibold;
    }

    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .data-table-container {
        @apply w-5/6 max-h-full h-fit overflow-y-scroll border rounded-xl;
    }

    .data-table {
        @apply border-separate w-full text-xl table-fixed;
    }

    .data-table > thead > tr {
        @apply sticky top-0 z-10;
    }

    .data-table > thead > tr > th {
        @apply border-b border-l font-semibold p-2 bg-sky-900;
    }

    .data-table > tbody > tr > td {
        @apply text-center p-1 border-b border-l bg-slate-900;
    }

    .data-table > tbody > tr:nth-child(even) > td {
        @apply bg-slate-950;
    }

    .data-table > tbody > tr > td:first-child,
    .data-table > thead > tr > th:first-child {
        @apply border-l-0;
    }

    .data-table > tbody > tr:last-child > td {
        @apply border-b-0;
    }
}

@layer base {
    html,
    body,
    #mount {
        @apply h-full w-full;
    }

    #root {
        @apply h-full w-full flex flex-col items-center;
    }

    body {
        @apply bg-gray-900 text-white font-nunito;
    }

    html {
        font-size: 7px;
    }

    @media screen(md) {
        html {
            font-size: 8px;
        }
    }

    @media screen(lg) {
        html {
            font-size: 9px;
        }
    }

    @media screen(xl) {
        html {
            font-size: 11px;
        }
    }

    @media screen(2xl) {
        html {
            font-size: 12px;
        }
    }

    @media screen(3xl) {
        html {
            font-size: 14px;
        }
    }

    @media screen(4xl) {
        html {
            font-size: 20px;
        }
    }
}
